@import "../variables.scss";

#about-museum::before {
    content: '';
    
    display: block;
    height:      75px;
    margin-top: -50px;
    visibility: hidden;
}

.about-museum__main-wrapper {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.about-museum__wrapper {
    width: 75%;
    flex-grow: 1;
}

.about-museum__title,
.about-museum__description {
    margin: 0;
}

.about-museum__title__wrapper {
    width: 85%;
    margin: 0 auto;
}

.about-museum__title {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;

    position: relative;

    font-size: 32px;
    text-align: center;

    &::after {
        content: '';
    
        position: absolute;
        bottom: -10px;
        left: 32px;
    
        width: 140px;
        height: 3px;
    
        background: linear-gradient(90deg, rgba(248, 179, 50, 1) 0%, rgba(255, 64, 0, 1) 100%);
    }
}

.about-museum__description {
    margin-top: 30px;
}

.about-museum__image__wrapper {
    display: flex;
    justify-content: center;
}

.about-museum__signature {
    text-align: center;
}

.about-museum__info__wrapper {
    display: block;
}

.about-museum__info {
    text-decoration: none;
    color: rgb(214, 168, 40);

    font-style: italic;
    transition: 0.1s ease-out;

    &:hover {
        color: rgb(97, 97, 97);
    }
}

.about-museum__arrow {
    position: relative;
    top: 18px;
}

@media (min-width: $tablet-width) {
    .about-museum__main-wrapper {
        flex-direction: row;
    }

    .about-museum__wrapper {
        padding-right: 30px;
    }
}