@import "../mixins.scss";

.contacts__main-wrapper {
    margin: 0 auto;

    background-color: #222222;
}

.contacts__wrapper {
    width: 75%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 10px;
    margin-bottom: 10px;
}

.contacts__phone,
.contacts__email {
    text-decoration: none;
    color: #aaaaaa;

    transition: 0.2s ease-out;

    &:hover {
        color: #f8b332;
    }
}

.contacts__phone {
    margin-right: 10%;
}

.contacts__social__list {
    @include reset-list;
    display: flex;
    justify-content: center;

    padding-bottom: 20px;
}

.contacts__social__item {
    &:first-child {
        margin-right: 5%;
    }
}

.contacts__icons {
    position: relative;
    top: 10px;
}

#icon-phone,
#icon-post_office {
    path {
        fill: #aaaaaa;
    }

    transition: fill 0.2s;

    .contacts__phone:hover & {
        path {
            fill: #f8b332;
        }
    }
}

#icon-vk,
#icon-fb {
    path {
        fill: #aaaaaa;
    }

    transition: fill 0.2s;
    
    &:hover {
        path {
            fill: #f8b332;
        }
    }
}

.contacts__logo {
    margin-top: 20px;

    display: flex;
    justify-content: center;
}

.contacts__circles {
    display: block;
    margin: 0 auto;
    margin-bottom: -75px;
}

.contacts__icons--destination {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#icon-destination,
#icon-clock {
    path {
        fill: #ffffff;
    }

    polygon {
        fill: #ffffff;
    }
}

.contacts__icons--clock {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.contacts__address,
.contacts__time {
    display: flex;
    justify-content: center;
    text-align: center;
}