@import "../mixins.scss";
@import "../variables.scss";

.contacts__main-wrapper {
    margin: 0 auto;
    padding-top: 50px;

    background-color: #222222;
}

.contacts__tech-wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.contacts__wrapper {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 10px;
    margin-bottom: 10px;
}

.contacts__phone,
.contacts__email {
    text-decoration: none;
    color: #aaaaaa;

    transition: 0.2s ease-out;

    &:hover {
        color: #f8b332;
    }
}

.contacts__phone {
    margin-right: 10%;
}

.contacts__social__list {
    @include reset-list;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
}

.contacts__social__item {
    &:first-child {
        margin-right: 5%;
    }
}

.contacts__social__link {
    text-decoration: none;
    color: #aaaaaa;

    transition: 0.2s ease-out;

    &:hover {
        color: #f8b332;
    }
}

.contacts__icons {
    position: relative;
    top: 10px;
}

// #icon-phone,
// #icon-post_office {
//     position: relative;
//     path {
//         fill: rgb(170, 170, 170);
//     }

//     transition: fill 0.2s ease-out;
// }

// .contacts__phone:hover #icon-phone,
// .contacts__phone:hover #icon-post_office {
//     path {
//         fill: rgb(248, 179, 50);
//     }
// }

// #icon-vk,
// #icon-fb {
//     position: relative;
//     path {
//         fill: rgb(170, 170, 170);
//     }

//     transition: all 0.2s;
    
//     &:hover {
//         path {
//             fill: rgb(248, 179, 50);
//         }
//     }
// }

#icon-vk {
    path {
        color: #aaaaaa;
    }

    &:hover {
        color: #f8b332;
    }
}

.contacts__logo {
    width: 65%;
    max-width: 1200px;

    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.contacts__logo__image {
    display: block;
    margin: 0 auto;

    max-width: 660px;
}

.contacts__user-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.contacts__circles {
    display: block;
    margin: 0 auto;
    margin-bottom: -75px;
}

.contacts__icons--destination {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#icon-destination,
#icon-clock {
    path {
        fill: #ffffff;
    }

    polygon {
        fill: #ffffff;
    }
}

.contacts__icons--clock {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.contacts__address,
.contacts__clock {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contacts__clock {
    padding-bottom: 25px;
}

.contacts__address br {
    display: none;
}

@media (min-width: $tablet-width) {
    .contacts__main-wrapper {
        padding-top: 0;
    }

    .contacts__tech-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .contacts__wrapper {
        width: 500px;
        margin: 0;
    }

    .contacts__social__list {
        position: relative;
        top: 12px;
    }

    .contacts__social__item {
        &:first-child {
            margin-right: 15px;
        }
    }

    .contacts__user-wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .contacts__location,
    .contacts__time {
        display: flex;
        align-items: center;
    }

    .contacts__address br {
        display: block;
    }

    .contacts__address,
    .contacts__clock {
        text-align: left;
    }

    .contacts__clock {
        padding-bottom: 0;
    }
}