@import "../variables.scss";

.gallery__filter {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 20px;
}

.gallery__filter__button {
    flex-grow: 1;

    position: relative;

    color: #777777;
    font-size: 14px;
    text-align: center;

    border: none;
    background-color: transparent;

    transition: 0.2s ease-out;

    &:hover {
        color: #f8b332;

        cursor: pointer;
    }

    &::before {
        content: '';

        width: 1px;
        height: 15px;

        position: absolute;
        right: 0;

        background-color: #e0e0e0;
    }

    &:last-child::before {
        display: none;
    }

    &--active {
        color: #f8b332;
    }
}

.gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery__image__wrapper {
    // width: 25%;

    background-color: transparent;

    transition: 0.2s ease-out;
}

.gallery__image__wrapper--darkened {
    position: relative;
    
    background-color: transparent;

    transition: 0.2s ease-out;

    &::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }
}


.gallery__image {
    display: block;
    width: 50%;
}

.gallery__image__previewbox{
    position: relative;
    overflow: hidden;
}

.gallery__image__preview{
    display: block;
    max-width: 100%;
}

.gallery__image__label {
    color: #ffffff;
    font-weight: bold;
}

.gallery__image__previewbox:before{
    content: "";
}

.gallery__image__wrapper .gallery__image__previewbox:before{
    width: 0;
    height: 0;
    padding: 25%;
    
    background-color: var(--photoboxOverlay, rgba(248, 179, 50, 0.5));
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
  
    transition: transform calc(var(--photoboxAnimationDuration, 1s) / 2) ease;
    will-change: transform;
    transform: translate(-50%, -50%) scale(0);
}
  
.gallery__image__wrapper:hover .gallery__image__previewbox:before{
    transform: translate(-50%, -50%) scale(4);
    transition-duration: var(--photoboxAnimationDuration, .8s);
}
  
.gallery__image__wrapper .gallery__image__label{
    width: 95%;
    text-align: center;
    
    transform: translate(-200%, -50%);
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease-out;
    will-change: transform;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
}
  
.gallery__image__wrapper:hover .gallery__image__label{
    transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 4);
    transform: translate(-50%, -50%);
}
  
.gallery__image__wrapper .gallery__image__preview{
      transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
      transform: scale(1) rotate(0);
}
  
  .gallery__image__wrapper:hover .gallery__image__preview{
    transform: scale(1.2) rotate(5deg);
}

@media (min-width: $tablet-width) {
    .gallery__image {
      width: 25%;
    }
}