@import "../variables.scss";

.main-slider {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main-slider__slides {
    height: 100%;
    margin-top: 50px;
}

.main-slider__buttons__wrapper {
    display: flex;
    justify-content: center;
}

@media (min-width: $tablet-width) {
    .main-slider {
        position: relative;
    }
}