@import "../mixins.scss";

.main-nav {
    background-color: #333333;
}

.main-nav__wrapper {
    width: 95%;
    margin: 0 auto;
}

.main-nav__logo {
    display: flex;
}

.main-nav__toggle__wrapper {
    display: flex;
    justify-content: flex-end;
}

.main-nav__list {
    @include reset-list;

    width: 100%;
}

.main-nav__list__wrapper {
    background-color: rgb(248, 179, 50);
    border: solid 1px #ffffff;
    border-radius: 4px;
}

.main-nav__item {
    text-transform: uppercase;
    border-top: solid 1px #ffffff;

    &:first-child {
        border-top: none;
    }
}

.main-nav__item__link {
    display: block;
    padding: 10px;

    text-decoration: none;
    color: #ffffff;
    font-weight: bold;

    transition: 0.1s ease-out;

    &:hover {
        color: #ffffff;
        background-color: rgb(224, 150, 12);
    }

    &--first {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &--last {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}