@import "../variables.scss";

#poster::before {
    content: '';
    
    display: block;
    height:      75px;
    margin-top: -50px;
    visibility: hidden;
}

.poster {
    margin-bottom: 150px;
}

.poster__main-wrapper {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.poster__main-title {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 50px;

    position: relative;

    font-size: 32px;
    text-align: center;

    &::after {
        content: '';
    
        position: absolute;
        bottom: -10px;
        left: 32px;
    
        width: 140px;
        height: 3px;
    
        background: linear-gradient(90deg, rgba(248, 179, 50, 1) 0%, rgba(255, 64, 0, 1) 100%);
    }
}

.poster__list {
    margin: 0;
    padding: 0;
}

.poster__item {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 40px;

    list-style: none;

    &:last-child {
        margin-bottom: 50px;
    }
}

.poster__image {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.poster__time-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 80px;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #e2b13c;
}

.poster__time {
    display: block;
    text-align: center;

    position: relative;
    top: -5px;

    color: #ffffff;
    font-weight: bold;

    & span {
        font-size: 40px;
    }
}

.poster__tech-wrapper {
    width: 100%;
    padding: 17px;

    color: #ffffff;
    border-radius: 15px;
    border-top-left-radius: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.poster__title {
    margin: 0;

    font-size: 18px;
    text-transform: uppercase;
}

.poster__title-link {
    color: #ffffff;
    text-decoration: none;

    transition: 0.2s ease-out;

    &:hover {
        color: #f8b332;
    }
}

.poster__entry__phone {
    color: #ffffff;
    text-decoration: none;

    transition: 0.2s ease-out;

    &:hover {
        color: #f8b332;
    }
}

.poster-to-all {
    position: relative;
    left: 80px;

    color: #000000;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;

    transition: 0.2s ease-out;

    &:hover {
        color: #f8b332;
    }

    &::before {
        content: '';

        width: 60px;
        height: 2px;

        position: absolute;
        left: -80px;
        top: 9px;

        background-color: #e2b13c;
    }

    &::after {
        content: '';

        width: 8px;
        height: 3px;
        position: absolute;
        left: -15px;
        top: 9px;

        background-color: #000000;
    }
}

.poster-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 20px;

    position: relative;

    border: solid 2px #e7e7e7;

    &:last-child {
        margin-bottom: 0;
    }
}

.poster-item__image-wrapper {
    display: flex;
    position: relative;
}

.poster-item__wrapper {
    width: 95%;
    padding-left: 5%;
}

.poster-item__image {
    display: block;
    width: 100%;
    // height: 100%;
    margin: 0 auto;
}

.poster-item__image-time {
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 30px;

    background: linear-gradient(to right, rgba(241, 145, 0, 0.8) 0%, rgba(199, 64, 64, 0.8) 100%);
    text-align: center;
    color: #ffffff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    & span {
        position: relative;
        top: -5px;
        margin-bottom: -15px;

        font-weight: bold;
        font-size: 40px;
    }
}

.poster-item__title__link {
    color: #f8b332;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;

    transition: 0.2s ease-out;

    &:hover {
        color: #616161;
    }
}

.poster-item__place,
.poster-item__time {
    display: flex;
}

.poster-item__place span {
    margin-left: 15px;

    font-weight: bold;
}

.poster-item__place {
    margin-bottom: 10px;
}

.poster-item__time span {
    margin-left: 9px;

    font-weight: bold;
}

.poster-item__time {
    margin-bottom: 20px;
}

.poster-item__text {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 24px;
}

.poster-item__to-all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50px;

    background-color: #616161;
    border-radius: 7px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    transition: 0.2s ease-out;

    &:hover {
        background-color: #f8b332;
        border-radius: 17px;
    }
}

@media (min-width: $tablet-width) {
    .poster-item {
        flex-direction: row;
    }

    .poster-item__text {
        margin-bottom: 30px;
        padding-bottom: 30px;

        font-size: 14px;
    }

    .poster-item__to-all {
        width: 35%;

        position: absolute;
        bottom: 20px;
    }

    .poster-item__image-time {
        width: 90px;
        height: 90px;

        & span {
            margin-top: -5px;

            font-size: 60px;
        }
    }

    .poster-item__image {
        width: 350px;
        height: 550px;
    }

    .poster-item__wrapper {
        width: 50%;
    }

    .poster-item__image-wrapper {
        flex-grow: 1;
        flex-shrink: 0;
    }

    .poster-item__image-tech-wrapper {
        width: 125%;
        height: 550px;

        background-color: rgba(248, 179, 50, 0.2);
    }
}

@media (min-width: $desktop-width) {
    .poster__wrapper {
        display: flex;
    }

    .poster-item {
        width: 50%;
        margin: 0;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
            padding-bottom: 0;
        }
    }

    .poster-item__title__link {
        font-size: 16px;
    }

    .poster-item__image-tech-wrapper {
        display: flex;
        align-items: center;

        background-color: transparent;
    }

    .poster-item__image {
        width: 250px;
        height: 400px;
    }

    .poster-item__to-all {
        width: 35%;
    }
}